.container{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 200px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.searchbar{
    height: 40px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 30px;
    border: 0.5px solid #d9d9d9;
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-right: auto;
    margin-left: auto;
}
.searchbar:focus-within{
    border-color: var(--purple);
}
.searchbar div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6d6d6d;
}
.searchbar input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}
.searchbar input:focus{
    outline: none;
}
@media (max-width: 500px) {
    .container{
        width: calc(100% - 30px);
    }
}